@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

form {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 530px;
    margin-top: 90px;
    margin-left: 398px
   
}

input {
    display: flex;
    justify-content: center;
    width: 360px;
    height: 46px;
    padding: 0 10px;
    border: none;
    border-radius: 5px;
    
}

button {
    width: 180px;
    height: 46px;
    padding: 0 26px;
    background-color: #386641;
    border: none;
    border-radius: 5px;
    
}

.botao2 {
    display: flex;
    width: 150px;
    height: 30px;
    margin-top: 260px;
    margin-left: 598px;
    
}



.faq1 {
    width: 60%;
    margin-top: 600px;
    margin-left: 250px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    background-color: #fff;
}

p {
    display: flex;
    justify-content: last baseline;
    margin-right: 50px;
    
}

.icone {
    display: flex;
    justify-content: last baseline;
    margin-left: 350px;
    
}



.texto-faq {
    width: 50%;
    height: 40px;
    margin-top: 100px;
    text-align: center;

}    
    
    
.secao-detalhes {
    width: 50%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    text-align: center;
    margin-top: 60px;
    margin-left: 350px;
}

.secao-detalhes > div > article {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
    
}




.botao-rodape {
    display: flex;
    justify-content: end;
    margin-top: 600px;
    
}
