@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

form {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 530px;
    margin-top: 115px;
    margin-left: 495px
   
}

input {
    display: flex;
    justify-content: center;
    width: 360px;
    height: 46px;
    padding: 0 10px;
    border: none;
    border-radius: 5px;
    
}

button {
    width: 180px;
    height: 46px;
    padding: 0 26px;
    background-color: #386641;
    border: none;
    border-radius: 5px;
    
}

.botao2 {
    display: flex;
    height: 30px;
    margin-top: 415px;
    margin-left: 60px;
    
}



.faq1 {
    width: 60%;
    margin-top: 200px;
    margin-left: 250px;
    display: flexbox;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    background-color: #fff;
}

.icone {
    display: flex;
    justify-content: space-between;
    margin-left: 350px;
    margin-top: 20px;
}

.texto-faq {
    display: flexbox;
    justify-content: space-between;
    margin-right: 50px;
    
    
}

