@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

form {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 530px;
    margin-top: 90px;
    margin-left: 398px
   
}

input {
    display: flex;
    justify-content: center;
    width: 360px;
    height: 46px;
    padding: 0 10px;
    border: none;
    border-radius: 5px;
    
}

button {
    width: 180px;
    height: 46px;
    padding: 0 26px;
    background-color: #386641;
    border: none;
    border-radius: 5px;
    
}

.botao2 {
    display: flex;
    width: 150px;
    height: 30px;
    margin-top: 260px;
    margin-left: 598px;
    
}



.faq1 {
    width: 60%;
    margin-top: 600px;
    margin-left: 250px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    background-color: #fff;
}

p {
    display: flex;
    margin-right: 50px;
    margin-top: 50px;
    
}

.texto-faq {
    width: 90%;
    height: 20px;
    margin-top: 100px;
    text-align: center;

}    
    
    
.secao-detalhes {
    width: 50%;
    display: flex;
    justify-content: space-around;
    gap: 30px;
    text-align: center;
    margin-top: 60px;
    margin-left: 350px;
    text-align: left;
    
}

.secao-detalhes article:hover{
    color: #588157;
    transform: scale(1.2);
    transition: 1s;
}
.material-symbols-outlined {
    display: flex;
    width: 60px;
}



.botao-rodape {
    display: flex;
    justify-content: end;
    margin-top: 900px;
    color: #386641;
    
}

.icone {
    margin-left: 50%;
    margin-bottom: 10px;
}
